<nav class="navbar navbar-fixed-top border-bottom">
    <a class="nav-link brand" href="/">Application</a></li>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Dashboard" asp-action="Statistics">Dashboard</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Deposit" asp-action="Transfer">Deposit</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="WithdrawList" asp-action="ShowWithdrawList">Withdraw
                List</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" asp-area="" asp-controller="DepositList" asp-action="ShowDepositList">Deposit
                List</a>
        </li>
        </li>
    </ul>
</nav>