<nav class="navbar navbar-fixed-top border-bottom">
    <a class="nav-link brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Config.CompanyName</a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active text-dark" asp-area="" asp-controller="Home" asp-action="UserProfile">User Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
        </li>
    </ul>
</nav>