<nav class="navbar navbar-fixed-left">

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-secondary" asp-controller="Dashboard" asp-action="Statistics" >Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" asp-controller="Deposit" asp-action="Transfer">Deposit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" asp-controller="WithdrawList" asp-action="ShowWithdrawList">Withdraw List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" asp-controller="DepositList" asp-action="ShowDepositList">Deposit List</a>
        </li>
</ul>
</nav>
