@model app_banking.ViewModels.UserAccountsViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Account Number</th>
            <th scope="col">Account Currency</th>
            <th scope="col">Account Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var acc in Model.Accounts)
        {
            <tr>
                <th scope="row">@acc.Id</th>
                <td>@acc.AccountNumber</td>
                <td>@acc.AccountCurrency</td>
                <td>@acc.AccountType</td>
            </tr>
        }
    </tbody>
</table>